<div class="container">
  <h1>Details of <%= @restaurant.name %></h1>
  <h3>Category:  <%= @restaurant.category %></h3>
  <h3>Address:  <%= @restaurant.address %></h3>
  <h3>Phone Number:  <%= @restaurant.phone_number %></h3>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"   %>
</div>
